.{
  box-sizing: border-box;
}
body{
  background-color: rgb(56, 55, 55);
  text-align: center;
}
.container{
  background-color: honeydew;
  width:40vw;
  height:50vh;
  margin-top:20vh;
  margin-left: 25vw;
}
h1{
  color: rgb(19, 69, 109);
  font-size: 3em;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  padding-top:2%;
  }