{% load socialaccount %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title>Django Social Login</title>
  </head>

  <body>
    <div class="container" style="text-align: center; padding-top: 10%;">
      <h1>Django Social Login</h1>

      <br /><br />

      {% if user.is_authenticated %}
        <h3>Welcome {{ user.username }} !!!</h3>
        <br /><br />
        <a href="{% url 'account_logout' %}">Logout</a>
      {% else %}

        <a href="{% provider_login_url 'github' %}" class="git"> Login with GitHub</a>

        <a href="{% provider_login_url 'twitter' %}" class="twit">Login with Twitter</a>

        <a href="{% provider_login_url 'google' %}" class="goo">Login With Google</a>

        <a href="{% provider_login_url 'facebook' %}" class="face">Login With Facebook</a>

      {% endif %}
    </div>
  </body>
  
</html>
